 

  .Home1 {
    overflow: hidden;
    letter-spacing: 0.5px;
    font-weight: 700;
    font-family: "Inter-Bold", "Inter", sans-serif;
    color: #ff0000;
  }

  .Home2 {
  overflow: visible;
  white-space: pre;
  font-weight: 700;
  font-family: "Inter-Bold", "Inter", sans-serif;
  letter-spacing: 0.5px;
  line-height: 1.2;
  color: #5e6f78;
  }
  
  @media only screen and (max-width:500px) {
    /* For mobile phones: */
    .Home1 {
      width: 100%;
      font-size: 8vw;
    }
    .Home2 {
      width: 100%;
      font-size: 6vw;
    }
  }
  .Card {
    width: 100%;
    margin: auto;
  }
 
  .frame {
    width: 738px;
    height: 1612px;
    background-color: #ffffff;
    overflow: visible;
  }

  .Table {
     
  font-size: 1vw;
  }